@{
    ViewBag.Title = "关于我";
}
<h2>About</h2>
@*<div class="wrapper">
	<div class="header center"><a href="http://snag.gy/"><img src="http://snag.gy/assets/images/logo.png" /></a></div>
	<div class="content"/>
    <div id="appletArea"></div>
</div>
<div id="introduction" class="txt">
    <h1 class="center txt introDirective">
        paste images straight to the web!<br/><span class="small">copy an image to your clipboard, then</span><br/><span class="arrow">&darr;</span>
    </h1>
    <div class="center pasteMsg" title="press Ctrl+V on your keyboard to paste an image from your clipboard">
        <div class="buttonContent">
            <div class="buttonText"><span class="big">press <span class="orange">Ctrl</span> + <span class="orange">V</span></span></div>
            <div class="loader">
                <div class="loaderText">pasting your image...</div>
                <img class="center" src="http://snag.gy/assets/images/loader.gif" />
            </div>
        </div>
    </div>
</div>*@
<script>
    var Config = {};
    Config.Resources = {
        makeImage: '/Home/PasteImage',
    };
</script>